<div class="container">
  <img
    src="https://res.cloudinary.com/des7tvoez/image/upload/v1735733061/log_isegws.png"
    alt="Logo"
    class="dialog-logo"
  />
  <div mat-dialog-actions class="dialog-actions">
    <h2>
      Bạn có muốn CozWork chúng tôi thông báo cho bạn những tin tức quan trọng
      không?
    </h2>
    <div style="display: flex; gap: 12px">
      <button mat-button [mat-dialog-close]="false" class="btn-skip">
        Bỏ qua
      </button>
      <button mat-button [mat-dialog-close]="true" class="btn-allow">
        Cho phép
      </button>
    </div>
  </div>
</div>
